__pycache__/
*.py[cod]
.Python
.venv/
venv/
env/
*.egg-info/
.DS_Store
data/config.json
data/project.json
data/*
!data/.gitkeep
output/
output/**
voices/*
!voices/README.txt
!voices/.gitkeep
frontend/node_modules/
frontend/dist/
.idea/
.vscode/
*.log
build/
dist/
*.egg-info/
.venv-win/
.DS_Store
